[Unit]
Description=RAID Info Server
After=network.target

[Service]
User=nas
WorkingDirectory=/home/nas/therm/
ExecStart=/usr/bin/python /home/nas/therm/raid.py

[Install]
WantedBy=multi-user.target
